# binaries
*
!*.*
!*/

# object files
*.o

# images
*.png
*.jpg
*.jpeg

# don't commit documentation
doc/*

# don't commit extern
extern/*

# don't commit bin dir
bin

# allow Makefile
!Makefile

# allow doxygen config file
!doxygen_config